fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
python-dotenv
redis
nltk
passlib[bcrypt]
python-jose[cryptography]
pytest
pytest-asyncio
httpx>=0.24.0
scikit-learn
joblib
pydantic[email]
email-validator
pytest-xdist
psycopg2-binary
asgi-lifespan>=1.0.1